<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="surname">Фамилия</label>
        <input type="text" name="surname">
    </p>
    <p>
        <label for="name">Имя</label>
        <input type="text" name="name">
    </p>
    <p>
        <label for="otc">Отчество</label>
        <input type="text" name="otc">
    </p>
    <p>
        <label for="street">Улица</label>
        <input type="text" name="street">
    </p>
    <p>
        <label for="bldn">Дом</label>
        <input type="text" name="bldn_k">
    </p>
    <p>
        <label for="bldn_k">Корпус</label>
        <input type="text" name="bldn_k">
    </p>
    <p>
        <label for="app">Кваритра</label>
        <input type="text" name="app">
    </p>
    <p>
        <label for="tele">Телефон</label>
        <input type="text" name="tele">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>